<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ASP.NET 4.72 C# SameSite MVC sample</title>
</head>
<body>
    <p><b>Current Cookies</b></p>
    <table>
        <thead>
            <tr>
                <td>Cookie</td>
                <td>Value</td>
                <td>Secure</td>
                <td>Domain</td>
                <td>Path</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var cookie in Request.Cookies.AllKeys.Distinct())
            {
            <tr>
                <td>@Request.Cookies[cookie].Name</td>
                <td>@Request.Cookies[cookie].Value</td>
                <td>@Request.Cookies[cookie].Secure</td>
                <td>@Request.Cookies[cookie].Domain</td>
                <td>@Request.Cookies[cookie].Path</td>
            </tr>
            }
        </tbody>
    </table>
    @using (Html.BeginForm("CreateCookies", "Home", FormMethod.Post))
    {
        <input type="submit" value="Create Cookies" />
    }
</body>
</html>